<ul class="list-group">
  <% @posts.each do |post| %>
	  <li class="list-group-item" id="<%=post.reddit_id%>">
	    <div class="media-body">
		    <% if post.img_url %>
			    <img class="media-object" src="<%=post.img_url%>">
			  <%end%>
	      <div class="media-heading">
	      	<div>
		      	<% if (@current_user_fav_post_ids && @current_user_fav_post_ids.include?(post.reddit_id)) %>
		      		<a onclick="star(this,<%=post.to_json%>)" class="glyphicon glyphicon-star"></a>
		      	<%else%>
		      		<a onclick="star(this,<%=post.to_json%>)" class="glyphicon glyphicon-star-empty"></a>
		      	<%end%>
		      	<%= post.title %> <a class="button" href="<%=post.web_url%>">(Link)</a>
	      	</div>
	      </div>
	    </div>
	  </li>
	<%end%>
</ul>

<!-- Modal to sign in -->
<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     	<div class="modal-body">
     		 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
     		<h4 class="modal-title" id="myModalLabel">Sign-in/Sign-up to continue...</h4>
     	</div>
      <div class="modal-footer">
        <button type="button" onclick="location.href='/users/sign_in';" class="btn btn-primary">Sign-in</button>
        <button type="button" onclick="location.href='/users/sign_up';" class="btn btn-primary">Sign-up</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
	var ready = () => {
		this.star = (el,post) => {
			<% if current_user %>
					if ($(el).hasClass('glyphicon-star-empty')){
						$(el).addClass('glyphicon-star').removeClass('glyphicon-star-empty')
						$.post( "/favorite", {post: post});
					}else{
						$(el).addClass('glyphicon-star-empty').removeClass('glyphicon-star')
						$.post( "/unfavorite", {post: post});	
					}
			<%else%>
				$('#signInModal').modal();
			<%end%>
		}
	}
	$(document).ready(ready);
</script>